<form name="form" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid}">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="article.title" name="title"
               server-error>
        <p ng-show="form.title.$invalid" class="help-block">{{form.title.errorMessage}}</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : form.intro.$invalid}">
        <label for="intro">Intro</label>
        <textarea class="form-control" id="intro" ng-model="article.intro" rows="5" name="intro" server-error></textarea>
        <p ng-show="form.intro.$invalid" class="help-block">{{form.intro.errorMessage}}</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : form.body.$invalid}">
        <label for="body">Body</label>
        <textarea class="form-control" id="body" ng-model="article.body" rows="20" name="body" server-error></textarea>
        <p ng-show="form.body.$invalid" class="help-block">{{form.body.errorMessage}}</p>
    </div>
    <button type="submit" class="btn btn-success btn-block" ng-click="save()">Submit</button>
</form>