<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="init()">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search!
        </button>
      </span>
      <span class="input-group-btn">
        <a href="/#/articles/add" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add new article
        </a>
      </span>
</div>
<div ng-repeat="article in articles" class="item item-text-wrap">
    <h2><a ng-href="/#/articles/show/{{article.id}}">{{article.title}}</a></h2>
    <p>{{article.intro}}</p>

    <a class="btn btn-primary" ng-href="#/articles/edit/{{article.id}}" ng-show="isAdmin">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>

    <a class="btn btn-danger" ng-click="deleteArticle($index, article.id)" ng-show="isAdmin">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
</div>
<hr>
<button class="btn btn-default btn-block" ng-click="loadMore()" ng-hide="noMoreItemsAvailable">Gimme, gimme, gimme
    more!
</button>
<p class="text-center" ng-hide="!noMoreItemsAvailable">
    I can't give you more.<br>
    <img src="/img/sad-face.jpg">
</p>