<div class="col-lg-8">

    <h1>{{article.title}}</h1>

    <p class="lead">
        by <a href="#">{{article.author}}</a> on
        <small>{{article.date}}</small>
    </p>

    <hr>
    <p class="lead">
        {{article.intro}}
    </p>
    <p>
        {{article.body}}
    </p>

    <hr>

    <div class="well" ng-show="isLoggedIn">
        <h4>Leave a Comment:</h4>
        <form name="form" novalidate ng-submit="addComment()">
            <div class="form-group" ng-class="{ 'has-error' : form.comment.$invalid}">
                <textarea class="form-control" rows="3" ng-model="comment" name="comment" server-error></textarea>
                <p ng-show="form.comment.$invalid" class="help-block">{{form.comment.errorMessage}}</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <hr>

    <div class="media" ng-repeat="comment in article.comments">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{comment.user.name}}
                <small>{{comment.updated_at}}</small>
            </h4>
            {{comment.content}}
        </div>
    </div>
</div>