<div class="jumbotron text-center">
    <h1>Eazy beazy home page</h1>
    <p>For more fun check out the <a href="/#/articles" class="text-danger">articles</a> area.</p>
    <p>Default user <pre>test@test.com</pre> with <pre>test</pre> password</p>

</div>

<div ui-view></div>
